.body {
  margin: 0px;
  padding: 0px;
}

.container {
  margin: 0px;
  padding: 0px;
  height: 100vh;
  width: 100vw;
  background: tomato;
  display: grid;
  grid-template-areas:
  "topUpper topUpper"
  "topLower topLower"
  "left right";
  grid-template-columns: 1fr 9fr;
  grid-template-rows: 1fr 1fr 8fr;
}

.topUpper {
  margin: 0px;
  padding: 0px;
  grid-area: topUpper;
  background: yellow;
}

.topLower {
  margin: 0px;
  padding: 0px;
  grid-area: topLower;
  background: rebeccapurple;
}

.left {
  margin: 0px;
  padding: 0px;
  grid-area: left;
  background: hotpink;
}

.right {
  margin: 0px;
  padding: 0px;
  grid-area: right;
  background: green;
}
