.body {
  margin: 0px;
  padding: 0px;
}

.container {
  margin: 0px;
  padding: 0px;
  height: 100vh;
  width: 100vw;
  background: tomato;
  display: grid;
  grid-template-areas:
  "topUpper topUpper"
  "topLower topLower"
  "left right";
  grid-template-columns: 1fr 9fr;
  grid-template-rows: 1fr 1fr 8fr;
}

.topUpper {
  margin: 0px;
  padding: 0px;
  grid-area: topUpper;
  background: yellow;
}

.topLower {
  margin: 0px;
  padding: 0px;
  grid-area: topLower;
  background: rebeccapurple;
}

.left {
  margin: 0px;
  padding: 0px;
  grid-area: left;
  background: hotpink;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: right;
  padding-right: 5px;
  padding-top: 75%;
}

.left p {
  margin-top: 0%;
}

.right {
  margin: 0px;
  padding: 0px;
  grid-area: right;
  background: green;
}

table {
  border: 0px solid #cfd1d4;
  border-collapse: collapse;
}

.odd td {
  border-top: 1px solid #cfd1d4;
  border-left: 1px solid #cfd1d4;
  border-right: 1px solid #cfd1d4;
  border_bottom: 1px dashed #cfd1d4;
}

.even td {
  border-top: 1px dashed #cfd1d4;
  border-left: 1px solid #cfd1d4;
  border-right: 1px solid #cfd1d4;
  border_bottom: 1px dashed #cfd1d4;
}
